<div routerLinkActive="active" class="course">
    <div class="course-about">
        <h3>{{ courseName | truncate:6 }}</h3>
        <p>{{ courseDescription | truncate:15 }}</p>
    </div>
    <div class="course-progress">
        <div class="course-progress-bar" [style.width.%]="courseProgress">
        </div>
    </div>
    <div class="course-action-button">
        <a routerLink="/ide/{{ courseId }}" routerLinkActive="active" class="course-goto-button">
            <fa-icon class="sidebar-menu-item-icon" [icon]="gotoIcon"></fa-icon>
        </a>
    </div>

</div>