<div class="container">
    <div class="header">
        <h1>The courses you are already enrolled in!</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos.
        </p>
    </div>
    <div class="courses">
        <h1>Your HTML Courses</h1>
        {{ htmlCourses | json }}
        <app-courses [courses]="htmlCourses"></app-courses>
    </div>
    <div class="courses">
        <h1>Your CSS Courses</h1>
        <app-courses [courses]="cssCourses"></app-courses>
    </div>
    <div class="courses">
        <h1>Your JavaScript Courses</h1>
        <app-courses [courses]="jsCourses"></app-courses>
    </div>
</div>
