<div class = "main-container">
    <div class="mobile-sign-in" *ngIf ="mobileToggle">
      <form
        [formGroup]="loginForm"
        onsubmit="event.preventDefault()"
        (submit)="login()"
      >
        <h1>Sign In</h1>
        <br />
        <input
          formControlName="username"
          placeholder="Username"
          required
          type="text"
        />
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
        />
        <a href="#">Forgot Your Password</a>

        <button type="submit">Sign In</button>
        <h5 class = "sign-up" (click) = "toggle()" >Sign Up</h5>
        
      </form>
 
    </div>


    <div class="mobile-sign-up" *ngIf = "!mobileToggle">
      <form
        [formGroup]="signupForm"
        (submit)="signup()"
        onsubmit="event.preventDefault()"
      >
        <h1>Create Account</h1>
        <br />
        <input formControlName="name" placeholder="Username" />
        <input formControlName="email" placeholder="Email" />
        <input formControlName="password" placeholder="Password" />
        <button type="submit">SignUp</button>
        <h5 class = "sign-up" (click) = "toggle()" >Sign In</h5>
      </form>
    </div>




    <div
      class="container"
      [ngClass]="{ 'right-panel-active': isClassActive }"
      id="container"
    >

    <div class="form-container sign-in-container">
      <form
        [formGroup]="loginForm"
        onsubmit="event.preventDefault()"
        (submit)="login()"
      >
        <h1>Sign In</h1>
        <br />
        <input
          formControlName="username"
          placeholder="Username"
          required
          type="text"
        />
        <input
          formControlName="password"
          type="password"
          placeholder="Password"
        />
        <a href="#">Forgot Your Password</a>

        <button type="submit" [disabled]="isButtonDisabled">Sign In</button>
      </form>
    </div>


    <div class="form-container sign-up-container">
      <form
        [formGroup]="signupForm"
        (submit)="signup()"
        onsubmit="event.preventDefault()"
      >
        <h1>Create Account</h1>
        <br />
        <input formControlName="name" placeholder="Username" />
        <input formControlName="email" placeholder="Email" />
        <input formControlName="password" placeholder="Password" />
        <button type="submit" [disabled]="isButtonDisabled">Sign Up</button>
      </form>
    </div>


   

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back!</h1>
            <br />
            <p>Let's continue Coding!</p>
            <br />
            <button class="ghost" id="signIn" (click)="cheaker()">
              Sign In
            </button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Super, Let's Code!</h1>
            <p>Enter your details and lets get going</p>
            <button class="ghost" id="signUp" (click)="cheaker()">
              Sign Up
            </button>
          </div>
        </div>
      </div>


    </div>
</div>