<div class="sidebar" [class.shrink]="!isExpanded" (mouseenter)="expandSidebar()" (mouseleave)="shrinkSidebar()">
    <div class="sidebar-logo" [class.shrink]="!isExpanded">
        <img class="sidebar-logo-img"/>
        <!-- Add your logo or brand name here -->
    </div>
    <ul class="sidebar-menu">
        <li class="sidebar-menu-item" routerLinkActive="active" *ngFor="let item of menuItems">
            <a [routerLink]="item.link">
                <fa-icon class="sidebar-menu-item-icon" [icon]="item.icon"></fa-icon>
                <span [class.shrink]="!isExpanded" *ngIf="isExpanded" class="menu-item-text">{{ item.name }}</span>
            </a>
        </li>
    </ul>
</div>