@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

$border: #ff9800;
$background-color: #ff9800;
$beblocky-orange: #fcb332;

$beblocky-purple: #703d99;

$beblock-light-blue: #dff1fb;

$beblocky-green: #5baf48;
$beblocky-accent-green: #a7d464;
$beblocky-light-green: #def0e2;

$beblocky-pink: #8f6fb0;

$beblocky-cyan: #2ebca4;
$beblocky-cyan-accent: #37d6c9;

$green-linear-gradient: linear-gradient(to right, $beblocky-green, $beblocky-accent-green);
$purple-pink-linear-gradient: linear-gradient(to right, $beblocky-purple, $beblocky-pink);

$ff-primary: "Montserrat", sans-serif;

.course {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $green-linear-gradient;
    border-radius: 1rem;
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
    width: 100%;
    min-height: 240px;

    &:hover {
        transform: translateY(-5px);
        transition: all 0.5s ease;
        box-shadow: 0 14px 28px #00000046, 0 10px 10px #00000041;
    }

    &-about {
        display: block;
        text-align: center;
        font-family: $ff-primary;
        padding: 0.5rem;
    }

    &-progress {
        margin: 1rem;
        height: 8px;
        width: 90%;
        background-color: $beblocky-light-green;
        display: block;
        border-radius: 4px;

        &-bar {
            height: 100%;
            flex: 1;
            border-radius: 4px;
            background-color: $background-color;
        }
    }

    &-action-button {
        margin: 1rem auto;

        .course-goto-button {
            background-color: $background-color;
            color: #fff;
            border: none;
            border-radius: 0.5rem;
            padding: 10px;
            cursor: pointer;

            i {
                font-size: 1.2rem;
            }
        }
    }
}