.body-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.2rem;
    justify-content: center;

}

.body-section {

    width: 32.5%;
    margin: auto;
    height: 83vh;

}


@media (max-width:1000px) {
    .body-container{
        flex-direction: column;
    }
    .body-section{
        width:98%;
    }
    
}