.container {
    width: 100%;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
        margin-top: 1rem;
        font-size: 32px;
        color: #000;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: #000;
    }
}

.spinner {
    width: 100%;
}

.courses {
    width: 100%;
}

.is-night{
    color: #fff !important;
}

.is-day{
    color: #000 !important;
}
