@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

$border: #ff9800;
$background-color: #ff9800;
$beblocky-orange: #fcb332;
$beblocky-red: #f44336;
$beblocky-purple: #703d99;
$beblocky-light-green: #def0e2;
$beblock-light-blue: #dff1fb;
$clr-main: #5baf48;
$clr-accent: #a7d464;
$linear-gradient: linear-gradient(to right, #5baf48, #a7d464);
$ff-primary: "Montserrat", sans-serif;

.course-creator {
    display: flex;
    flex-direction: column;
    padding: 2rem;

    &__title {
        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
    }

    &__manage-course {
        min-height: 20vh;
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__course-information {
            height: 100%;
            width: 80%;
            padding: 1rem;

            border: 2px solid #333;
            border-radius: 20px;

            &__title {}

            &__description {}

            &__language {}
        }

        &__buttons {
            height: 100%;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            &__save-course {
                background: $clr-main;
                color: #fff;
            }

            &__add-lesson {
                background: $beblocky-orange;
                color: #fff;
            }
        }
    }

    &__lessons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__lesson {
            min-height: 20vh;
            width: 100%;

            &__manage-lesson {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                &__lesson-information {
                    height: 100%;
                    width: 80%;
                    padding: 1rem;

                    border: 2px solid #333;
                    border-radius: 20px;

                    &__title {}

                    &__description {}

                    &__language {}
                }

                &__buttons {
                    height: 100%;
                    width: 20%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    &__add-slide {
                        background: $beblocky-orange;
                        color: #fff;
                    }
                }
            }


            &__slides {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                overflow-x: auto;

                &__slide {
                    width: 70%;
                    height: 100%;
                    margin: 0 auto;

                    &__main-form {
                        display: flex;
                        flex-direction: column;

                        border: 2px solid #333;
                        border-radius: 20px;
                        padding: 1rem;
                        margin: 1rem;

                        min-height: 100%;
                        max-height: 100%;
                        overflow-y: scroll;

                        &__title {
                            width: 100%;
                            margin: 0 auto;
                        }

                        &__content {
                            width: 100%;
                            margin: 0 auto;
                            text-align: center;
                            margin-bottom: 1rem;
                            font-size: 1.1rem;
                        }

                        &__code {
                            overflow: auto;
                            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                            margin: auto;
                            width: 100%;

                            textarea {
                                font-family: monospace;
                                background-color: #404040;
                                color: white;
                                font-weight: bolder;
                                border-radius: 0.75rem;
                                padding: 0.5rem;
                                white-space: pre;
                            }
                        }

                        &__delete {}
                    }

                    &__options_form {}

                    &__buttons {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }

            &__delete {}
        }
    }
}

.buttons {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.button {
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.delete {
    background: $beblocky-red;
    color: #fff;
}

.add {
    background: $beblocky-orange;
    color: #fff;
}

.save {
    background: $clr-main;
    color: #fff;
}

input,
textarea,
select {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;

    border-bottom: 2px solid #333;

    &:hover {
        border-bottom: 2px solid #111;
    }
}