<div *ngIf="!showSpinner" class="slide-creator-container">
    <h1>Add A New Course</h1>
    <div class="course-information">
        Here
    </div>
    <div class="slides">
        <form [formGroup]="slidesForm">
            <div formArrayName="slides">
                <div class="add-links" *ngFor="let slide of slides.controls; let i = index" [formGroupName]="i"
                    class="slide">
                    <div class="slide-content">
                        <div class="slide-preview" *ngIf="slidesStatuses[i] == 'done'">
                            <app-ide-slide [code]="slides.controls[i].value.code"
                                [backgroundColor]="slides.controls[i].value.backgroundColor"
                                [color]="slides.controls[i].value.color" [title]="slides.controls[i].value.title"
                                [titleFont]="slides.controls[i].value.titleFont"
                                [content]="slides.controls[i].value.content"
                                [contentFont]="slides.controls[i].value.contentFont"
                                [image]="slides.controls[i].value.image">
                            </app-ide-slide>
                        </div>
                        <div class="slide-form" *ngIf="slidesStatuses[i] == 'doing'">
                            <div class="slide" [ngStyle]="{
    'background-color': slides.controls[i].value.backgroundColor,
    color: slides.controls[i].value.color
}">
                                <div class="main-content">
                                    <div class="content-title"
                                        [ngStyle]="{ 'font-family':  slides.controls[i].value.titleFont }">
                                        <input type="text" id="title" placeholder="Slide Title" formControlName="title"
                                            (keyup)="capitalizeFormControl('title', i)">
                                    </div>
                                    <div class="text-content"
                                        [ngStyle]="{ 'font-family': slides.controls[i].value.contentFont }">
                                        <textarea class="content-textarea" type="text" id="content"
                                            placeholder="Slide's text content" formControlName="content"></textarea>
                                    </div>
                                    <div class="code-content">
                                        <textarea class="code-textarea" type="text" id="code"
                                            placeholder="Code. e.g. <html></html>" formControlName="code"
                                            (keyup)="capitalizeFormControl('code', i)"></textarea>
                                    </div>
                                    <img src="{{ slides.controls[i].value.image }}">
                                </div>
                            </div>
                        </div>
                        <div class="options-form" *ngIf="slidesStatuses[i] == 'done'">
                            <div class="form-grouping">
                                <label for="name">Title Font</label>
                                <input type="text" id="titleFont" placeholder="e.g. Verdana"
                                    formControlName="titleFont">
                            </div>
                            <div class="form-grouping">
                                <label for="name">Content Font</label>
                                <input type="text" id="contentFont" placeholder="e.g. Arial"
                                    formControlName="contentFont">
                            </div>
                            <div class="form-grouping">
                                <label for="name">Background</label>
                                <input type="color" id="backgroundColor" placeholder="e.g. #000000"
                                    formControlName="backgroundColor">
                            </div>
                            <div class="form-grouping">
                                <label for="name">Text</label>
                                <input type="color" id="color" placeholder="e.g. #000000" formControlName="color">
                            </div>
                        </div>
                    </div>
                    <div class="slide-buttons">
                        <button type="button" (click)="removeLanguage(i)" class="delete-button">
                            Delete
                        </button>
                        <button *ngIf="slidesStatuses[i]=='doing'" type="button" (click)="setSilideAsDone(i)">
                            Done with adding content
                        </button>
                        <button *ngIf="slidesStatuses[i]=='done'" type="button" (click)="setSilideAsDoing(i)">
                            Edit slide content
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button class="slide-add" type="button" (click)="addSlide()">
        Add a new Slide
    </button>
</div>

<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>