<div class="slider">
  <div class="dots-container">
    <div [class]="slideIndex <= currentIndex ? 'dot completed-slide' : 'dot new-slide'"
      *ngFor="let slide of slides; let slideIndex = index" (click)="goToSlide(slideIndex)">
    </div>
    <!-- <div style="width: 100%;height: 100%;background-color: black;"></div> -->
  </div>
  <div>
    <div (click)="goToPrevious()" class="left-arrow">
      <p>❰</p>
    </div>
    <div (click)="goToNext()" class="right-arrow">
      <p>❱</p>
    </div>
  </div>
  <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }">
    <div class="text-content">
      <h1> {{ slides[currentIndex].title }} </h1>
      <p>{{ slides[currentIndex].content }}</p>
    </div>
  </div>
</div>