<div class="all-editors">
    <div class="editor-toggle">
      <button (click)="toggleEditor('html')" [class.active]="activeEditor === 'html'">HTML</button>
      <button (click)="toggleEditor('css')" [class.active]="activeEditor === 'css'">CSS</button>
      <button (click)="toggleEditor('js')" [class.active]="activeEditor === 'js'">JavaScript</button>
    </div>
    <div class="editor-section " [ngClass]="{'reveal': addHtmlClass}" >
      <label for="html-editor" >index.html</label>
      <div id = "html-editor" class="app-ace-editor" #htmlEditor></div>
    </div>
    <div class="editor-section " [ngClass]="{'reveal': addCssClass}" >
      <label for="css-editor">style.css</label>
      <div class="app-ace-editor" #cssEditor></div>
    </div>
    <div class="editor-section " [ngClass]="{'reveal': addJsClass}" >
      <label for="js-editor" >script.js</label>
      <div class="app-ace-editor" #jsEditor></div>
    </div>
  </div>
  