
.all-editors {
    height:100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  
  .editor-toggle {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .editor-toggle button {
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  
  .editor-toggle button.active {
    background-color: #eaeaea;
  }
  
  .editor-section {
    flex: 1;
  }
  
  .app-ace-editor {
    height: 100%;
  }