$border: #ff9800;
$background-color: #ff9800;
$beblocky-orange: #fcb332;
$beblocky-purple: #703d99;
$beblocky-light-green: #def0e2;
$beblock-light-blue: #dff1fb;
$clr-main: #5baf48;
$clr-accent: #a7d464;
$linear-gradient: linear-gradient(to right, #5baf48, #a7d464);
$ff-primary: "Montserrat", sans-serif;
$clr-red: #e31f1f;

.slide-creator-container {
    height: 100vh;
    margin: 0;
    padding: 0;
    // background: $linear-gradient;
    display: flex;
    flex-direction: column;

    .course-information {
        width: 100%;
    }

    .slides {
        width: 100%;
        display: flex;
        flex-direction: column;

        .slide {
            margin: 2rem;
            padding: 1rem;
            background: $beblocky-orange;
            border: 2px solid $beblocky-orange;
            border-radius: 20px;

            display: flex;
            flex-direction: column;

            .slide-content {
                display: flex;
                flex-direction: row;

                .slide-form {
                    width: 50vw;
                    display: flex;
                    flex-direction: column;

                    .form-row {
                        display: flex;
                        flex-direction: row;

                        .form-grouping {
                            display: flex;
                            flex-direction: column;

                            label {
                                font-size: 1rem;
                                color: #333;
                            }

                            input {
                                font-size: 1rem;
                                color: #333;
                            }

                            textarea {
                                font-size: 1rem;
                                color: #333;
                                resize: vertical;
                            }
                        }
                    }
                }

                .slide-preview {
                    width: 50vw;
                }
            }

            .slide-buttons {
                margin: 1rem 0;
                width: 100%;
                display: flex;
                flex-direction: row;

                button {
                    color: $beblocky-light-green;
                    margin-right: 1rem;
                    padding: 0.5rem 1rem;
                    border: none;
                    border-radius: 10px;
                    outline: none;
                    background: $beblocky-purple;

                    &:hover {
                        background: $clr-accent;
                    }
                }

                .delete-button:hover {
                    background: $clr-red;
                    transition: all 0.2 ease-in-out;
                }
            }
        }

        button {
            width: 100%;
            margin: 2rem;
            background: $clr-accent;
            margin-right: 1rem;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 10px;
            outline: none;
            color: $beblocky-purple;

            &:hover {
                background: $clr-main;
            }
        }
    }
}